@charset "UTF-8";

/*
 * Your TinyMCE editor styles
*/

body#tinymce {
    margin: 10px;
    font-family: 'Open Sans', sans-serif;
    color: #657b83;
}

body#tinymce p {
    margin: 1em 0;
    font-size: 16px;
    line-height: 1.6;
}

body#tinymce h1,
body#tinymce h2,
body#tinymce h3 {
    font-weight: 600;
}

body#tinymce h1 {margin: 1em 0 .5em; font-size: 27px;}
body#tinymce h2 {margin: 1em 0 .5em; font-size: 24px;}
body#tinymce h3 {margin: .8em 0 .4em; font-size: 20px;}
body#tinymce h4 {margin: .6em 0 .3em; font-size: 18px;}

body#tinymce blockquote {
    position: relative;
    margin: 20px;
    padding: 1px 20px;
    font-family: Georgia,"Times New Roman",Times,serif;
    line-height: 26px;
    color: #777;
    background-color: #ece6d6;
    background-color: rgba(0,0,0,.02);
}

body#tinymce blockquote:before {
    content: "\201C";
    display: block;
    position: absolute;
    top: 0;
    left: -20px;
    font-size: 80px;
    color: #7a7a7a;
}

body#tinymce blockquote cite {
    display: block;
    margin-top: 5px;
    font-size: 14px;
    color: #999;
}

body#tinymce blockquote cite:before {
    content: "\2014 \2009";
}

body#tinymce dl {width:450px;}

body#tinymce dt{
    font-weight:bold;
    font-size: 15px;
    margin-bottom:0.7em;
}

body#tinymce dd{
    font-size: 14px;
    margin: 0 0 20px 0;
    padding-left: 40px;
}

body#tinymce table {
    width: 100%;
    margin-bottom: 24px;
    border: 1px solid #d8d8d8;
    border: 1px solid rgba(0,0,0,.05);
    border-collapse: collapse;
    border-color: #f0f0f0;
    border-spacing: 2px;
}

body#tinymce table, th,
body#tinymce table thead td,
body#tinymce table thead th {
    font-weight: 600;
}

body#tinymce table td,
body#tinymce table th {
    padding: 7px 11px;
    border: 1px solid #f0f0f0;
    border-width: 0 1px 1px 0;
    text-align: left;
    font-weight: 400;
    background-color: #ece6d6;
    background-color: rgba(0,0,0,.02);
}

body#tinymce address {
    margin-bottom: 18px;
    padding-left: 20px;
    line-height: 1.4;
}

body#tinymce cite {
    font-size: 14px;
}

body#tinymce code,
body#tinymce kbd,
body#tinymce tt,
body#tinymce var,
body#tinymce samp {
    font-family: 'andale mono','lucida console',monospace;
    font-size: 14px;
    -webkit-hyphens: none;
    -moz-hyphens: none;
    hyphens: none;
    word-wrap: break-word;
    -ms-hyphens: none;
}

body#tinymce code,
body#tinymce kbd {
    margin: 0 1px;
    padding: 3px 5px 2px;
    font-size: 13px;
    background-color: #ece6d6;
    background-color: rgba(0,0,0,.02);
}

body#tinymce pre {
    display: block;
    margin: 0 0 24px 0;
    padding: 15px;
    border: 1px solid #f0f0f0;
    border: 1px solid rgba(0,0,0,0.1);
    border-radius: 3px;
    overflow-x: visible;
    direction: ltr;
    font: 11px/19px 'andale mono','lucida console',monospace;
    white-space: pre;
    white-space: pre-wrap;
    color: #666;
    background-color: #ece6d6;
    background-color: rgba(0,0,0,.02);
    -ms-overflow-x: visible;
    word-wrap: break-word;
}

body#tinymce big {font-size: 120%; font-weight: 300;}

body#tinymce ins {
    border-bottom: 1px dotted #BDBDBD;
    text-decoration: none;
    background-color: #fff9c0;
}

body#tinymce abbr[title],
body#tinymce acronym[title] {
    border-bottom: 1px dashed #ccc;
    border-color: #d8d8d8;
    border-color: rgba(0,0,0,.5);
    cursor: help;
}
