@font-face {
    font-family: 'split-me';
    src: url('../fonts/split-me.eot?49704661');
    src: url('../fonts/split-me.eot?49704661#iefix') format('embedded-opentype'),
         url('../fonts/split-me.svg?49704661#split-me') format('svg'),
         url('../fonts/split-me.woff?49704661') format('woff'),
         url('../fonts/split-me.ttf?49704661') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
    @font-face {
        font-family: 'split-me';
        src: url('../fonts/split-me.svg?49704661#split-me') format('svg');
    }
}
*/

[class^="icn-"]:before,
[class*=" icn-"]:before {
    display: inline-block;
    width: 1em;
    margin-right: .2em;
    margin-left: .2em;
    text-align: center;
    text-decoration: inherit;
    text-transform: none;
    font-family: "split-me";
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 1em;
    speak: none;
}

.icn-tags:before {content: '\e803';}        /* Tags */
.icn-user:before {content: '\e808';}        /* User profil */
.icn-eye:before {content: '\e809';}         /* Views */
.icn-chat:before {content: '\e80a';}        /* Comments */
.icn-folder:before {content: '\e80b';}      /* Category */
.icn-calendar:before {content: '\e80c';}    /* Calendar */
.icn-left-open:before {content: '\e80d';}   /* Icon left */
.icn-right-open:before {content: '\e80e';}  /* Icon right */