@charset "UTF-8";

/*
 * Main Split Me styles
 * Version: 2.4.6
*/

/* =Main and global styles
-------------------------------------------------------------------- */

body {
    font-family: 'Open Sans',sans-serif;
    color: #657b83;
    background-color: #fdf6e3;
}

.main {
    width: 60%;
    margin-left: 40%;
    padding: 1em 1.5em;
    min-height: 100%;
    overflow: hidden;
}

.top-header .main {
    width: 75%;
    margin: 0 auto;
}

/* =Typography stuff
-------------------------------------------------------------------- */

a {
    text-decoration: none;
    color: #3465a4;
    -webkit-transition: color .2s;
    transition: color .2s;
}

a:hover {
    text-decoration: none;
    color: #268bd2;
    -webkit-transition: color .3s;
    transition: color .3s;
}

p {
    font-size: 16px;
    line-height: 1.6;
    margin: 1em 0;
}

em,cite,var,
address, dfn,
blockquote, q {
    font-style: italic;
}

/* Headings
------------------------------------- */
h1,h2,h3 {font-weight: 600;}
h1 {margin: 1em 0 .5em; font-size: 27px;}
h2 {margin: 1em 0 .5em; font-size: 24px;}
h3 {margin: .8em 0 .4em; font-size: 20px;}
h4 {margin: .6em 0 .3em; font-size: 18px;}

/* Definition lists
------------------------------------- */
dl {width:450px;}

dt{
    font-weight:bold;
    font-size: 15px;
    margin-bottom:0.7em;
}

dd{
    font-size: 14px;
    margin: 0 0 20px 0;
    padding-left: 40px;
}

/* =Blockquotes
------------------------------------- */

blockquote {
    position: relative;
    margin: 20px;
    padding: 1px 20px;
    font-family: Georgia,"Times New Roman",Times,serif;
    line-height: 26px;
    color: #777;
    background-color: #ece6d6;
    background-color: rgba(0,0,0,.02);
}

blockquote:before {
    content: "\201C";
    display: block;
    position: absolute;
    top: 0;
    left: -20px;
    font-size: 80px;
    color: #7a7a7a;
}

blockquote cite {
    display: block;
    margin-top: 5px;
    font-size: 14px;
    color: #999;
}

blockquote cite:before {
    content: "\2014 \2009";
}

/* =Entry tables
-------------------------------------------------------------------- */
table {
    width: 100%;
    margin-bottom: 24px;
    border: 1px solid #d8d8d8;
    border: 1px solid rgba(0,0,0,.05);
    border-collapse: collapse;
    border-color: #f0f0f0;
    border-spacing: 2px;
}

table, th,
table thead td,
table thead th {
    font-weight: 600;
}

table td,
table th {
    padding: 7px 11px;
    border: 1px solid #f0f0f0;
    border-width: 0 1px 1px 0;
    text-align: left;
    font-weight: 400;
    background-color: #ece6d6;
    background-color: rgba(0,0,0,.02);
}

/* Content lists
------------------------------------- */
ul,ol {
    margin: 0 0 24px 40px;
}

ul {list-style: disc;}
ol {list-style: decimal;}
li {margin: 3px 0;}

ul ul,
ol ul {
    margin-left: 30px;
    list-style: circle;
}

ol ol ul,
ol ul ul,
ul ol ul,
ul ul ul {
    list-style: square;
}

/* Address
------------------------------------- */
address {
    margin-bottom: 18px;
    padding-left: 20px;
    line-height: 1.4;
}

/* cite / code / pre / q / abbr
------------------------------------- */
cite {
    font-size: 14px;
}

code,kbd,tt,var,samp {
    font-family: 'andale mono','lucida console',monospace;
    font-size: 14px;
    -webkit-hyphens: none;
    -moz-hyphens: none;
    hyphens: none;
    word-wrap: break-word;
    -ms-hyphens: none;
}

code,kbd {
    margin: 0 1px;
    padding: 3px 5px 2px;
    font-size: 13px;
    background-color: #ece6d6;
    background-color: rgba(0,0,0,.02);
}

pre {
    display: block;
    margin: 0 0 24px 0;
    padding: 15px;
    border: 1px solid #f0f0f0;
    border: 1px solid rgba(0,0,0,0.1);
    border-radius: 3px;
    overflow-x: visible;
    direction: ltr;
    font: 11px/19px 'andale mono','lucida console',monospace;
    white-space: pre;
    white-space: pre-wrap;
    color: #666;
    background-color: #ece6d6;
    background-color: rgba(0,0,0,.02);
    -ms-overflow-x: visible;
    word-wrap: break-word;
}

big {font-size: 120%; font-weight: 300;}

ins {
    border-bottom: 1px dotted #BDBDBD;
    text-decoration: none;
    background-color: #fff9c0;
}

abbr[title], acronym[title] {
    border-bottom: 1px dashed #ccc;
    border-color: #d8d8d8;
    border-color: rgba(0,0,0,.5);
    cursor: help;
}

/* =Header
-------------------------------------------------------------------- */

.sm-inner-h {
    position: fixed;
    width: 40%;
    height: 100%;
}

.top-header .sm-inner-h {
    position: initial;
    width: 100%;
    height: 350px;
}

/* =Menu icon
----------------------------------- */
.menu-icn-wrap {
    z-index: 2;
    position: absolute;
    top: 25px;
    left: 25px;
    width: 40px;
    height: 30px;
    cursor: pointer;
}

.menu-icn {
    position: absolute;
    top: 10px;
    left: 0;
    width: 35px;
    height: 3px;
    border-radius: 10% 10% 10% 10% / 40% 40% 40% 40%;
    background: #e7e7e7;
    -webkit-box-shadow: 1px 1px 1px rgba(0,0,0,.2);
    box-shadow: 1px 1px 1px rgba(0,0,0,.2);
    -webkit-transition: 0.2s;
    transition: 0.2s;
}

.menu-icn:before,
.menu-icn:after {
    content: '';
    position: absolute;
    width: 100%;
    height: 3px;
    border-radius: 10% 10% 10% 10% / 50% 50% 50% 50%;
    background: #e7e7e7;
    -webkit-box-shadow: 1px 1px 1px rgba(0,0,0,.2);
    box-shadow: 1px 1px 1px rgba(0,0,0,.2);
    -webkit-transition: .2s;
    transition: .2s;
}

.menu-icn:before {top: 8px;}
.menu-icn:after {top: -8px;}

.sm-icn .active:before,
.sm-icn .active:after {
    top: 0;
    -webkit-transition: .2s;
    transition: .2s;
}

.sm-icn .active:before {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

.sm-icn .active:after {
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

/* =Menu nav
----------------------------------- */
.sm-nav {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding-top: 60px;
    padding-bottom: 11px;
    font-size: 2em;
    background: rgba(0,0,0,0.8);
}

.top-header .sm-nav {
    position: initial;
    height: 350px;
}

.sm-icn .active {
    background: none;
    box-shadow: none;
    -webkit-transition: all .2s;
    transition: all .2s;
}

.sm-menu {
    list-style: none;
    margin: 0;
    padding: 0;
}

.sm-menu a {color: #fff;}

.sm-menu a:hover,
.sm-menu .active > a {
    color: #268bd2;
}

.sub-menu {
    margin: 0 0 0 15px;
    padding: 0;
    list-style: none;
}

/* =Menu nav
----------------------------------- */
.site-title {
    margin: 0 0 0 85px;
    font-family: 'Over the Rainbow',cursive;
    font-size: 50px;
    line-height: 1.4;
    font-weight: 400;
    text-shadow: 1px 1px 1px rgba(0,0,0,.2);
}

.top-header .site-title,
.top-header .site-desc {
    margin-left: 0;
    text-align: center;
}

.site-title a {
    color: #e7e7e7;
}

.site-desc {
    margin: 0 0 0 85px;
    text-transform: uppercase;
    font-size: 20px;
    color: #e7e7e7;
    text-shadow: 1px 1px 1px rgba(0,0,0,.2);
}

.sm-nav ul li a {
    padding-left: 20px;
    font-weight: 300;
    text-transform: uppercase;

}

/* =Main - homepage - archives
-------------------------------------------------------------------- */

.main ul {
    margin: 0;
    list-style: none;
}

.post-list li {
    position: relative;
    margin: 10px 0;
    padding: 10px 20px;
    border-radius: 3px;
    background-color: #f5efde;
    background-color: rgba(0,0,0,.02);
}

.post-list li .post-link {
    display: block;
    max-width: 90%;
    border-bottom: 1px dashed #657b83;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 600;
}

.excerpt {
    margin-top: 10px;
}

.read-more {
    float: right;
    font-size: 14px;
    color: #657b83;
}

.post-list li:hover .read-more {
    color: #3465a4;
    text-decoration: underline;
    -webkit-transition: all .2s;
    transition: all .2s;
}

.metas {
    position: absolute;
    top: 10px;
    right: 10px;
}

.metas span,
.metas span a {
    color: #cb4b16;
}

.metas span:hover,
.metas span a:hover {
    color: #3465a4;
}

.post-nav a:first-child {float: left;}
.post-nav a:last-child {float: right;}

/* =Posts and Pages
-------------------------------------------------------------------- */

article.post,
article.page {
    position: relative;
    margin: 10px 0;
    padding: 10px 20px;
    border-radius: 3px;
    background-color: #f5efde;
    background-color: rgba(0,0,0,.02);
}

.entry-header {
    border-bottom: 1px dashed #657b83;
}

.entry-title {
    font-size: 30px;
    font-weight: 600;
    text-transform: uppercase;
}

.entry-content ul {
    margin: 0 0 24px 40px;
    list-style: disc;
}

.entry-content ul ul,
.entry-content ol ul {
    margin-left: 30px;
    list-style: circle;
}

.entry-content ol ol ul,
.entry-content ol ul ul,
.entry-content ul ol ul,
.entry-content ul ul ul {
    list-style: square;
}

.footer-metas {
    font-size: 14px;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
    filter: alpha(opacity=50);
    opacity: .5;
    -webkit-transition: opacity .2s;
    transition: opacity .2s;
}

.footer-metas:hover {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=100);
    opacity: 1;
    -webkit-transition: opacity .2s;
    transition: opacity .2s;
}

.tag-links a:after {
    content: "•";
    margin: 0 5px;
    vertical-align: middle;
}

.tag-links a:last-child:after {
    display: none;
}

.edit-link {
    position: absolute;
    right: 10px;
    bottom: 10px;
}

.tag-links {display: block;}

/* Medias */

embed, iframe {
    margin: 10px 0;
    max-width: 100%;
}

/* =Paginated posts links
------------------------------- */
.sm-page-links {
    margin: 10px 0;
    padding: 10px 0;
    border-top: 1px dashed rgba(101, 123, 131, .6);
    border-bottom: 1px dashed rgba(101, 123, 131, .6);
    font-size: 14px;
}

.sm-page-links span {
    display: inline-block;
    width: 25px;
    padding: 2px;
    border: 1px solid rgba(0,0,0,.2);
    border-radius: 2px;
    text-align: center;
    vertical-align: bottom;
    color: #fff;
    background-color: #3465a4;
}

.sm-page-links a {
    padding: 2px;
}

.sm-page-links a span {
    color: #657b83;
    background-color: #f5efde;
    background-color: rgba(0,0,0,.02);
}

/* =Posts pagination (next post, prev post)
------------------------------------------ */
.posts-links,
.post-pagination {margin: 20px 0;}

.post-prev a,
.post-next a,
.sm-next a,
.sm-prev a {
    padding: 5px 13px;
    border: 0;
    border-radius: 2px;
    color: #fff;
    background-color: #657b83;
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.5);
    -moz-box-shadow: 0 1px 1px rgba(0,0,0,.5);
    box-shadow: 0 1px 1px rgba(0,0,0,.5);
    -webkit-transition: all .2s ease-out;
    transition: all .2s ease-out;
}

.post-prev a:hover,
.post-next a:hover,
.sm-next a:hover,
.sm-prev a:hover {
    background-color: #3465a4;
    -webkit-transition: all .2s ease-out;
    transition: all .2s ease-out;
}

.sm-next, .post-prev {float: left;}
.sm-prev, .post-next {float: right;}

/* =Comments
-------------------------------------------------------------------- */

.commentlist {
    margin: 10px 0;
    padding: 10px 20px;
    border-radius: 3px;
    background-color: #f5efde;
    background-color: rgba(0,0,0,.02);
}

.comments-title, .comment-reply-title {color: #6c71c4;}
.comment {position: relative;}
.avatar-container {float: left;}
.avatar-container .avatar {margin: 0 10px 10px 0;}
.author-name {font-weight: 600;}
.comment-meta time, .comment-edit-link {font-size: 13px;}

.reply {
    position: absolute;
    top: 0;
    right: 0;
}

.comment-author:before,
.comment-author:after {
    content: " ";
    display: table;
}

.comment-author:after {clear: both;}
.bypostauthor .avatar {border: 2px solid #dc322f;}

/* Comment form
-------------------------- */
.required {color: #dc322f;}
.comment-form label {color: #3465a4;}

button,
input[type="button"],
input[type="submit"],
label {
    cursor: pointer;
}

input[type="password"],
input[type="search"],
input[type="email"],
input[type="text"],
textarea {
    padding: 3px 5px;
    border: 0;
    border: 1px solid rgba(0,0,0,.1);
    border-radius: 2px;
    line-height: normal;
    color: #cb4b16;
    background-color: #f5efde;
    background-color: rgba(0,0,0,.02);
    -webkit-transition: all .2s ease-out;
    transition: all .2s ease-out;
}

input[type="button"],
input[type="submit"],
button[type="submit"] {
    padding: 5px 13px;
    border: 0;
    border-radius: 2px;
    color: #fff;
    background-color: #657b83;
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.5);
    -moz-box-shadow: 0 1px 1px rgba(0,0,0,.5);
    box-shadow: 0 1px 1px rgba(0,0,0,.5);
    -webkit-transition: all .2s ease-out;
    transition: all .2s ease-out;
}

input[type="button"]:hover,
input[type="submit"]:hover,
button[type="submit"]:hover {
    background-color: #3465a4;
    -webkit-transition: all .2s ease-out;
    transition: all .2s ease-out;
}

input[type="password"]:hover,
input[type="password"]:focus,
input[type="search"]:hover,
input[type="search"]:focus,
input[type="email"]:focus,
input[type="email"]:hover,
input[type="text"]:focus,
input[type="text"]:hover,
textarea:focus,
textarea:hover {
    border: 1px solid #d8d8d8;
    outline: 0;
    color: #535353;
    background-color: #F0E9D7;
    -webkit-box-shadow: inset 0 1px 3px rgba(0,0,0,.1);
    -moz-box-shadow: inset 0 1px 3px rgba(0,0,0,.1);
    box-shadow: inset 0 1px 3px rgba(0,0,0,.1);
    -webkit-transition: all .2s ease-out;
    transition: all .2s ease-out;
}

textarea {
    width: 98%;
    padding: 10px;
    overflow: auto;
    font-family: 'Open Sans',sans-serif;
    font-size: 99%;
    vertical-align: top;
}

/* =Footer
-------------------------------------------------------------------- */

.sm-f {
    position: fixed;
    bottom: 0;
    width: 40%;
    padding: 5px 10px;
    text-shadow: 0 1px 1px rgba(0,0,0,.9);
    font-size: 13px;
    color: #fff;
}

.top-header .sm-f {
    position: initial;
    width: 100%;
    text-align: center;
    text-shadow: none;
    color: #657b83;
    background: none;
    background-color: #f5efde;
    background-color: rgba(0,0,0,.02);
}

.sm-f a {
    text-decoration: underline;
    color: #fff;
}

.top-header .sm-f a {color: #3465a4;}

/* =Post formats
-------------------------------------------------------------------- */

.sticky {border: 1px solid #cb4b16;}
.format-gallery {border: 1px solid #d33682;}
.format-image {border: 1px solid #73d216;}
.format-aside {border: 1px solid #073642;}
.format-status {border: 1px solid #3465a4;}
.format-link {border: 1px solid #6c71c4;}
.format-quote {border: 1px solid #edd400;}
.format-chat {border: 1px solid #2aa198;}

/** @since 2.0 */
.format-video .sm-content iframe {
    display: block;
    margin: 10px auto;
}

/* =Helpers
-------------------------------------------------------------------- */

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clear {
    clear: both;
}

/* =WordPress required stuff
-------------------------------------------------------------------- */

.alignleft {
    display: inline;
    float: left;
    margin-right: 1.5em;
}

.alignright {
    display: inline;
    float: right;
    margin-left: 1.5em;
}

.aligncenter {
    display: block;
    clear: both;
    margin: 0 auto;
}

.assistive-text {
    position: absolute;
    clip: rect(1px 1px 1px 1px);
    clip: rect(1px,1px,1px,1px);
}

.wp-caption {
    padding: 10px;
    max-width: 100%;
    background-color: #EBE4D4;
}

.gallery-caption {
    /* Add your style if needed */
}

.wp-caption-text {
    margin: 0;
    padding-top: 10px;
    text-align: center;
    font-size: 13px;
    font-style: italic;
    color: #888;
}

/* =Media queries @since 1.0.8
-------------------------------------------------------------------- */

@media (max-width: 959px) {
    .main {margin-left: 0; padding: 1em; width: 100% !important;}
    .sm-inner-h {position: initial; width: 100%; height: auto;}
    .sm-nav {position: initial; height: auto; font-size: 1.2em;}
    .sm-f {position: initial; width: 100%;}
    .sm-top .sm-inner-h {height: auto !important;}
    .sm-top .sm-nav {height: auto !important;}
}
